
button{
	height: 5em; 
	width: 15em;
	margin: 0 0;
}
.red{
  border: 1px solid black;
  margin-top: 0;
  margin-right: 5em;
  
}
.rdata{
	display: none;
}
.blue{
  border: 1px solid black;
  margin-top: 0;
  margin-right: 5em;
}
.bdata{
	display: none;
}
.green{
  border: 1px solid black;
  margin-top: 0;
  margin-right: 5em;
}
.gdata{
	display: none;
}